<?xml version="1.0"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- local -->
    <!--<add name="ExpertSystemModelContainer" connectionString="metadata=res://*/ExpertSystemModel.csdl|res://*/ExpertSystemModel.ssdl|res://*/ExpertSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ExpertSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- somee.com -->
    <!--<add name="ExpertSystemModelContainer" connectionString="metadata=res://*/ExpertSystemModel.csdl|res://*/ExpertSystemModel.ssdl|res://*/ExpertSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;user id=jurahf_SQLLogin_1;pwd=bh37kis8fl;data source=ExpertSystemDB.mssql.somee.com;persist security info=False;initial catalog=ExpertSystemDB;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!-- regru -->
    <add name="ExpertSystemModelContainer" connectionString="metadata=res://*/ExpertSystemModel.csdl|res://*/ExpertSystemModel.ssdl|res://*/ExpertSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql.u1134702.plsk.regruhosting.ru;initial catalog=u1134702_ExpertSystemDB;integrated security=False;user=u1134702_jurahf;password=u3zadrhf#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>